/* Chat.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    background: #fff;
    padding: 1rem;
    max-width: 800px;
    height: 60%;
    width: 90%;
    max-height: 90%;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.chatContainer {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.userContainer {
    align-items: flex-start;
}

.merlinContainer {
    align-items: flex-end;
}

.chatRole {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.chatMessage {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 10px;
    max-width: 70%;
}

.chatText {
    margin-top: 0.5rem;
}

.you {
    background-color: #e0f7fa;
    border: 1px solid #b2ebf2;
}

.merlin {
    background-color: #fce4ec;
    border: 1px solid #f8bbd0;
}

.newMessageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.newMessageInput {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sendMessageBtn,
.closeBtn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sendMessageBtn {
    background-color: #4caf50;
    color: white;
    flex-shrink: 0;
}

.closeBtn {
    background-color: #f44336;
    color: white;
    margin-top: 0rem;
    flex-shrink: 0;
}